.form-wrap {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    z-index: 99;
    height: 100vh;
    display: none;
}

#login:target {
    display: flex;
}